{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}

	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header fixed-top d-none">
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<main id="main" role="main" class="main">
				{% block content %}
					Sorry, no content
				{% endblock %}
		</main>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
