{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}

	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

	{#<a class="pp-orange-tab" href="#support"><span class="d-block text-center pb-2 small text-uppercase">Support</span><span class="pp-bg-image"></span></a>#}

	{% block header %}
				{% include 'header.twig' %}
		
		{% endblock %}
		

		<main id="main" role="main" class="main">
				{% block content %}
					Sorry, no content
				{% endblock %}
		</main>

		{% block footer %}
				{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
		<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"730a1800ffbc22891763b5518","lid":"2855dd5de1","uniqueMethods":true}) })</script>
	</body>
</html>
