<section class="pp-call-to-action py-5 pp-charcoal-bg pp-monospace">
    
    <h2 class="d-block text-center">Support Project Possible</h2>
    <div class="container">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <article class="pp-call-to-action__article position-relative">
            <h4 class="pb-2">Make A Donation</h4>
            <div class="position-absolute pp-center-xy text-center">
                <a target="_blank" rel="noopener" class="pp-gofundme" href="https://www.gofundme.com/147-power-of-possible"><span>Go Fund Me</span></a>
            </div>
        </article>
        <article class="pp-call-to-action__article position-relative">
            <div class="position-absolute pp-center-xy text-center">
            <h4 class="pb-2">Stay Up To Date</h4>
                <div class="d-flex w-100 justify-content-around">
                    <a target="_blank" rel="noopener" href="https://www.instagram.com/nimsdai/" class="pp-icon instagram"><span>Project Possible Instagram</span></a>
                    <a target="_blank" rel="noopener" href="https://www.facebook.com/NimsPurja/" class="pp-icon facebook"><span>Project Possible Facebook</span></a>
                    <a target="_blank" rel="noopener" href="https://twitter.com/elitehimalayan" class="pp-icon twitter"><span>Project Possible Twitter</span></a>
                    <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UC_BrPp-RMmFu9Om_lUALL6w" class="pp-icon youtube"><span>Project Possible YouTube</span></a>
                </div>
            </div>
        </article>
        
        <article class="pp-call-to-action__article position-relative">
            <div class="position-absolute pp-center-xy text-center">
                <h4 class="pb-2">Contact</h4>
                <div class="d-flex w-100 justify-content-around">
                    <a  href="mailto:nims0209@hotmail.com" class="pp-icon email"><span>Email Nims</span></a>
                    <a href="tel:+447863636007" class="pp-icon phone"><span>Call Nims</span></a>
                </div>
            </div>
        </article>
    </div>
    </div>
</section>