<section class="pp-call-to-action py-5 pp-charcoal-bg">
    
    <h3 class="d-block text-center pp-orange-text text-uppercase">Stay Up To Date</h3>
    
    <div class="container">
   {# <p class="text-center py-4">
Nims can only complete this challenge with the generous donations of sponsors. He needs specialist equipment and support in order to achieve this feat and break the previous world record by over 7 years!<br/><br/>Whatever you are able to contribute will help him to achieve what many believe to be impossible.'
    </p>#}

    <div class="d-flex justify-content-between w-100 flex-wrap align-items-start pp-monospace">
        {#<article class="pp-call-to-action__article position-relative">
            
            <div class="text-center">
            <p class="pb-2">Make a donation</p>
            <div class="d-flex w-100 justify-content-around">
                <a target="_blank" rel="noopener" class="pp-gofundme" href="https://www.gofundme.com/147-power-of-possible"><span>Go Fund Me</span></a>
                </div>
            </div>
        </article>#}
        <article class="pp-call-to-action__article position-relative">
            <div class="text-center">
            {#<p class="pb-2">Stay up to Date</p>#}
                <div class="d-flex w-100 justify-content-around">
                    <a target="_blank" rel="noopener" href="https://www.instagram.com/nimsdai/" class="pp-icon instagram"><span>Project Possible Instagram</span></a>
                    <a target="_blank" rel="noopener" href="https://www.facebook.com/NimsPurja/" class="pp-icon facebook"><span>Project Possible Facebook</span></a>
                    <a  href="mailto:info@projectpossible.co.uk" class="pp-icon email"><span>Email Nims</span></a>
                    {#<a target="_blank" rel="noopener" href="https://twitter.com/elitehimalayan" class="pp-icon twitter"><span>Project Possible Twitter</span></a>
                    <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UC_BrPp-RMmFu9Om_lUALL6w" class="pp-icon youtube"><span>Project Possible YouTube</span></a>#}
                </div>
            </div>
        </article>
        
        {#<article class="pp-call-to-action__article position-relative">
            <div class="text-center">
                <p class="pb-2">Contact Nims</p>
                <div class="d-flex w-100 justify-content-around">
                    <a  href="mailto:info@projectpossible.co.uk" class="pp-icon email"><span>Email Nims</span></a>
                    <a href="tel:" class="pp-icon phone"><span>Call Nims</span></a>
                </div>
            </div>
        </article>#}
    </div>
    </div>
</section>
