<div id="support"></div>
<footer class="pp-black-bg" id="footer">
{% for layout in options.page_builder %}
    {% set template = layout.acf_fc_layout ~ '.twig' %}
     {% include template %}
{% endfor %}

    <div class="container">
        <div class="row">
            <div class="text-center text-md-left col-12 col-md-4 py-3 m-0">
                <div class="d-inline">&copy; {{"now"|date('Y')}}</div> <div class="d-inline">{{ options.copyright_info }}</div>
            </div>
            <div class="text-center col-12 col-md-4 py-3 m-0">
                <a id="cookies" href="/cookies-and-privacy/">Cookies &amp; Privacy</a>
            </div>
            <div class="text-center text-md-right col-12 col-md-4 py-3 m-0">
            {{ options.credit_info }}
            </div>
        </div>
    </div>
</footer>

