<footer class="pp-charcoal-bg pp-monospace" id="footer">
    <div class="container">
        <div class="row">
            <div class="text-center text-md-left col-12 col-md-6 py-3 m-0">
                <div class="d-inline">&copy; {{"now"|date('Y')}}</div> <div class="d-inline">{{ copyright }}</div>
            </div>
            <div class="text-center text-md-right col-12 col-md-6 py-3 m-0">
            {{ credit }}
            </p>
        </div>
    </div>
</footer>