<section class="pp-instagram-feed pp-charcoal-bg">
<div class="container py-4">
<h3 class="text-center pp-monospace py-4">Latest Updates</h3>
<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<div class="d-none d-md-block">
<iframe src="https://snapwidget.com/embed/665017" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
<div class="d-block d-md-none">
<iframe src="https://snapwidget.com/embed/665016" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
</div>

<div id="link" class="py-2 pb-5 text-center pp-orange-text text-uppercase">
<a href="https://instagram.com/nimsdai/" target="_blank" rel="noopener">See More On Instagram</a>
</div>

</section>