<section class="pp-text-columns pp-black-bg pp-instagram-feed">
    <div class="container">
            <h3 class="text-center pp-monospace py-4">Latest Updates</h3>
        <div class="row">
		{% for post in latest %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}             
        </div>
		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
</section>