<section class="pp-text-area {{ layout.style }} {{ layout.font }}">
    <div class="container py-5 lead">
        <div class="d-flex justify-content-around w-100 my-5">
            <div class="col-10 col-md-8 d-block">
                {{ layout.content }}
            </div>
        </div>
    </div>
</section>