<section class="pp-split pp-half-height d-flex w-100 p-5 align-items-center flex-wrap pp-grey-bg {{ layout.css_class }}">
    <article class="pp-split__article col-12 col-lg-6 pp-bg-image"  style="background-image:url('{{layout.image.sizes.large }}')"></article>
    <article class="pp-split__article col-12 col-lg-6 px-lg-5 pt-5 pt-lg-0 lead">{{ layout.text }}</article>
</section>

