<section class="{{ layout.style }} {{ layout.colour }} py-5">
    <div class="container">
        <div class="row">
            {% for column in layout.columns %}
                <article class="mb-5 mb-md-0 col-12 col-md {{ layout.style }}__article{% if loop.index == 1 %} lead{% endif %}">
                        {{ column.content }}
                </article>
            {% endfor %} 
        </div>
    </div>
</section>